@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1919px)
	#fp-nav.right
		right: 50px
	.mouse
		bottom: 40px
	.social
		bottom: 15px
		left: 0
	header
		box-shadow: none
		.navbar
			height: 75px
			.navbar-header
				.navbar-brand
					padding-top: 10px
				.navbar-toggle
					margin-top: 0
	#fullpage
		.registration
			bottom: 26px
		.section
			padding-top: 90px
			h2
				white-space: nowrap
				width: auto
				z-index: 100
		#sect-1
			background: #FFF
			padding-top: 100px
			h4
				margin-top: 40px
			.col-lg-6
				.path
					top: 715px
				.ace
					top: 845px
					left: 1100px
				.king
					top: 923px
					left: 1230px
				.queen
					top: 1010px
					right: -1285px
			p
				line-height: 25px
			a
				margin-top: 30px
		#sect-2
			background: url("../img/Rectangle 8.svg") no-repeat 0 285px
			h2
				margin-bottom: 45px
			.col-md-4
				&>img
					width: 100%
					height: 100%
					top: 55px
					left: 35px
				.item
					margin: 0
					padding: 20px 10px 0
					height: 400px
					.img-box
						margin-top: 0
						height: 64px
					p
						font-size: 16px
		#sect-3
			background-image: url("../img/3bg1280.png")
			background-position: center 290px
			h2
				margin-bottom: 0
			.popup
				border: none
				h4
					margin-bottom: 14px
				p
					font-size: 16px
				&.win, &.indi, &.power, &.manager
					position: relative
					left: auto
					right: auto
					top: auto
					bottom: auto
					width: 400px
					height: 241px
				&.indi, &.manager
					float: right
				&.win, &.indi
					border-radius: 5px 5px 0 0
					&:after, &:before
						content: none
				&.power, &.manager
					&:after
						top: -25px
						bottom: auto 
					&:before
						top: -20px
						bottom: auto
				&.indi
					border-radius: 5px 5px 0 0
				&.power
					border-radius: 0 0 5px 5px
				&.manager
					border-radius: 0 0 5px 5px
		#sect-4
			h2
				height: auto
				margin-bottom: 80px
			.col-md-6
				.img-box
					svg
						top: 40px
						right: 25px
						width: 370px
					img
						max-width: 100%
						height: auto
						&.money
							&:nth-of-type(2)
								top: 143px
								left: 77px
							&:nth-of-type(3)
								top: 113px
								left: 217px						
							&:nth-of-type(4)
								top: 95px
								left: 320px
							&:nth-of-type(5)
								top: 34px
								left: 373px
							&:nth-of-type(6)
								top: 18px
								left: 420px
				&:last-of-type
					img
						top: 47px
						left: 140px
						width: 150px
						height: 150px
					p
						&:first-of-type
							left: 10px
							top: 0
							&:after
								background-image: url("../img/line-blue-1-1280.svg")
								right: 38px
								bottom: -70px
						&:last-child
							right: 10px
							top: 240px
							&:after
								background-image: url("../img/line-blue-2-1280.svg")
								height: 81px
								left: 6px
								top: -82px
		#sect-5
			.slider-first 
				.easlide 
					.col-lg-6 
						.vshadow, iframe
							width: 490px
							height: 264px
						.img-box
							width: 72%
							margin-left: 37px
						p
							padding-left: 37px
							padding-top: 29px
				.dots
					bottom: 105px
					left: 243px
					ul
						margin-left: -50%
				.navigation
					top: auto
					right: auto
					bottom: 37px
					left: 107px
		#sect-6
			padding-top: 75px
			.col-md-6
				h3
					font-size: 42px
					line-height: 42px
					margin-top: 20px
					margin-bottom: 44px
				.white-box
					margin-left: 19px
					margin-right: 19px
					padding-top: 22px
					margin-bottom: 19px
					p
						padding-left: 25px
						padding-right: 25px
				&:first-of-type
					img
						margin-top: 0
						margin-bottom: 32px
				&:last-of-type
					h3
						margin-bottom: 24px
		#sect-7
			.col-md-6
				height: auto
				h3
					margin-top: 15px
					font-size: 42px
					line-height: 42px
				p
					margin-bottom: 20px
				&:last-of-type
					form
						padding: 0 62px
						h3
							margin-top: 40px
						.land-label
							font-size: 16px
						.jq-selectbox__select-text
							font-size: 18px
						.input--nariko
							label
								font-size: 18px
							&.input--filled
								label
									font-size: 16px
							input
								font-size: 18px
								margin-bottom: 30px
								padding-top: 20px
							&[type=checkbox]+label
								float: left
				.promo
					margin-top: 0
/* Medium Devices, Desktops */
@media only screen and (max-width : 1279px)
	header
		position: static
	.mouse
		display: none
	.social
		position: absolute
		bottom: 30px
		width: 100%
		text-align: center
		ul
			display: block
			li
				&:last-child
					padding: 0
	#fullpage
		.section
			padding-top: 100px
			.registration
				display: none
		#sect-1
			padding-top: 150px
			.col-lg-6
				padding-left: 30px
			h2
				line-height: 60px
			h4
				margin-top: 10px
			h5
				margin-bottom: 16px
			p
				width: 62%
			a
				margin-top: 20px
		#sect-2
			background-color: #F5F9FE
			padding-top: 50px
			padding-bottom: 60px
			margin-top: 104px
			h2
				font-size: 60px
				font-weight: bold
				margin-bottom: 15px
			.col-md-4
				&:first-of-type
					padding-left: 0
				&:nth-of-type(2)
					padding-right: 0
				&:last-of-type
					padding-right: 0
					padding-left: 0
					.item
						padding-bottom: 3px
						.img-box
							height: 70px
				h4
					font-size: 18px
					margin-bottom: 17px
				.item
					height: 370px
					background-color: #FFF
					padding: 15px 20px 0
					opacity: 1
					.img-box
						height: 90px
						img
							display: block
							margin-left: auto
							margin-right: auto
			.col-sm-12
				padding-top: 20px
				h4
					margin-top: 18px
				.item
					height: auto
					padding-bottom: 20px
					p
						span
							padding-top: 30px
							display: inline-block
		#sect-3
			background: none
			padding-top: 77px
			h2
				margin-bottom: 37px
				font-size: 60px
				font-weight: bold
			.popup
				&.indi, &.manager, &.power, &.win
					position: relative
					width: auto
					height: auto
					left: auto
					right: auto
					top: auto
					bottom: auto
					box-shadow: none
					background-color: #FFF
					padding-bottom: 19px
					&:after
						content: ""
						z-index: -1
						position: absolute
						width: 100%
						height: 100%
						top: 0
						left: 0
						background-color: rgba(#2F80ED, 0.15)
						filter: blur(10px)
					&:before
						content: none
				&.manager
					padding-bottom: 43px
		#sect-4
			padding-top: 59px
			h2
				white-space: normal
				font-size: 60px
				margin-bottom: 43px
				span
					white-space: nowrap
			h4
				font-weight: bold
				span
					margin-top: 5px
			.col-md-6
				.img-box
					width: 490px
					height: auto
					margin-left: auto
					margin-right: auto
					svg
						top: 52px
						right: 51px
					img
						&.money
							&:nth-of-type(2)
								top: 155px
							&:nth-of-type(3)
								top: 125px					
							&:nth-of-type(4)
								top: 107px
							&:nth-of-type(5)
								top: 47px
							&:nth-of-type(6)
								top: 31px
				&:last-of-type
					padding-top: 30px
					img
						width: 233px
						height: 233px
						display: block
						top: 0
						left: auto
						margin-left: auto
						margin-right: auto
					p
						line-height: 29px
						&:first-of-type
							left: 0
							top: 41px
							&:after
								width: 285px
								left: -10px
								right: auto
								background-image: url("../img/blue-line1768.png")
						&:last-of-type
							top: 288px
							&:after
								right: -4px
								left: auto
								top: -82px
								width: 361px
								background-image: url("../img/blue-line2768.png")
		#sect-5
			padding-top: 162px
			h2
				font-size: 60px
				font-weight: bold
			.slider-first
				padding-top: 60px
				padding-bottom: 115px
				.dots
					display: none
				.navigation
					right: 49px
					left: auto
					top: 206px
					bottom: auto
					.slider-prev
						display: none
				.easlide
					.col-lg-6
						position: static
						.img-box
							margin: 0 24px
							width: 212px
							height: 114px
							a:before
								top: 43%
								left: 45%
						p
							position: absolute
							width: 700px
							right: 30px
							line-height: 25px
							top: 347px
							padding: 0
		#sect-6
			.col-md-6
				h3
					font-size: 60px
					line-height: 60px
					font-weight: bold
					margin-top: 41px
					margin-bottom: 18px
				&:last-of-type
					h3
						margin-top: 54px
				.white-box
					margin: 0 147px 49px
					padding-top: 32px
					p
						line-height: 18px
						padding-top: 29px
				a
					padding: 18px 52px
		#sect-7
			padding-top: 50px
			.col-md-6
				height: auto
				h3
					font-size: 60px
					line-height: 60px
					margin-top: 32px
				p
					padding: 0 130px
				.promo
					margin-top: 9px
				&:last-child
					margin-top: 61px
					padding-bottom: 130px
					&:after
						left: -200%
						width: 500%
						z-index: -1
					form
						padding: 0	196px
						h3
							margin-top: 28px
							margin-bottom: 20px
						select, .jq-selectbox
							margin-bottom: 28px
						.input--nariko
							input
								padding-top: 10px
								margin-bottom: 26px
						input[type=checkbox]+label
							margin-top: 10px
							margin-bottom: 40px

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	header
		.navbar
			.navbar-header
				.navbar-toggle
					margin-right: 0
					margin-left: 0
	#fullpage
		text-align: center !important
		.section
			h2
				font-size: 42px !important
				line-height: 42px !important
				margin-bottom: 28px
		#sect-1
			.col-lg-6
				padding-left: 16px
			h2:after
				left: 40%
				bottom: -13px
			p
				width: 100%
				padding: 0 5px
			a
				margin-top: 26px
		#sect-2
			margin-top: 34px
			padding-bottom: 20px
			.col-md-4
				&>img
					display: none
				&:first-of-type
					padding-left: 15px
				&:nth-of-type(2)
					padding-right: 15px
				.item
					padding-top: 22px
					height: auto
					p
						text-align: center
						padding-bottom: 23px
				h4
					margin-top: 15px
					margin-bottom: 19px
			.col-sm-12
				.item
					p
						padding-bottom: 0
						span
							width: 100%
							padding-top: 0
		#sect-3
			padding-top: 27px
			h2
				margin-bottom: 42px
			.popup
				&.indi, &.manager, &.power, &.win
					padding-bottom: 5px
					padding-left: 5px
					padding-right: 5px
					&:after
						content: none
				h4
					margin-bottom: 20px
		#sect-4
			padding-top: 98px
			.container
				width: 470px
			.col-md-6
				padding-left: 0
				padding-right: 0
				.img-box
					width: auto
					svg
						right: 38px
				&:last-of-type
					p:first-of-type
						text-align: left
						&:after
							background-image: url("../img/blue-line1-480.png")
							left: -138px
				&:last-of-type
					p:last-of-type
						&:after
							width: 232px
							right: 0
							background-image: url("../img/blue-line2-480.png")
		#sect-5
			h2
				font-size: 60px !important
				line-height: 60px !important
			.slider-first
				padding-top: 49px
				.navigation
					top: 356px
					right: 59px
					button
						border-color: #ccc
				.easlide
					.col-lg-6
						.vshadow
							display: none
						iframe
							width: 469px
							height: 253px
							margin-left: auto
							margin-right: auto
						p
							position: static
							width: 469px
							top: auto
							right: auto
							text-align: left
							margin-left: auto
							margin-right: auto
							margin-top: 25px
						.img-box
							width: 469px
							margin-left: auto
							margin-right: auto
							margin-top: 13px
							a
								display: block
								width: 211px
								margin-left: 10px
							&.shadow:after
								width: 211px
		#sect-6
			padding-top: 8px
			.col-md-6
				h3
					font-size: 42px
					line-height: 42px
					margin-top: 18px
					margin-bottom: 31px
				&:last-of-type h3
					margin-top: 65px
					margin-bottom: 0
				.white-box
					margin: 10px auto 0
					width: 470px
					padding-bottom: 5px
					p
						padding-top: 25px
				a
					margin-top: 29px
		#sect-7
			.col-md-6
				h3
					font-size: 42px
					line-height: 42px
					margin-top: 44px
				p
					padding: 0 5px
					margin-top: 28px
					line-height: 22px
					font-weight: bold
					margin-bottom: 10px
				&:last-child
					margin-top: 37px
					form
						margin: 0 auto
						width: 340px
						padding: 0
/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
	header
		.navbar .navbar-header .navbar-toggle
			padding: 13px
			height: 50px
			margin-top: 24px
	#fullpage
		text-align: center !important
		.section
			h2
				font-size: 35px !important
				line-height: 35px !important
				margin-bottom: 28px
	#fullpage 
		.section
			h2
				white-space: normal
		#sect-1
			padding-top: 40px
			h2
				&:after
					left: 34%
					bottom: -17px
			h5
				font-size: 25px
				line-height: 25px
				margin-top: 10px
			h4
				font-size: 25px
				line-height: 25px
				margin-bottom: 5px
			a
				margin-top: 5px
		#sect-2
			padding-top: 10px
			.col-md-4
				padding-left: 0 !important
				padding-right: 0 !important
				padding-top: 17px
				.item
					p
						margin-bottom: 0

					.img-box
						height: 82px
		#sect-3
			h2
				font-size: 42px !important
				line-height: 42px !important
				margin-bottom: 11px
		#sect-4
			.container
				width: 310px
				margin-left: auto
				margin-right: auto
			padding-top: 24px
			h2
				font-size: 42px!important
				line-height: 42px!important
				margin-bottom: 10px
			.col-md-6
				.img-box
					padding-left: 23px
					padding-right: 23px
					svg
						top: 25px
						right: 40px
						width: 210px
					img
						&.money
							&:nth-of-type(2)
								top: 74px
								left: 60px
							&:nth-of-type(3)
								top: 57px
								left: 141px
							&:nth-of-type(4)
								top: 48px
								left: 195px
							&:nth-of-type(5)
								top: 11px
								left: 228px
							&:nth-of-type(6)
								top: 2px
								left: 255px	
				h4
					margin-top: 24px
					span
						margin-top: 0
				&:last-of-type
					p
						&:first-of-type, &:last-of-type
							text-align: center
							position: relative
							margin-left: auto
							margin-right: auto
							top: auto
							left: auto
							right: auto
							bottom: auto
						&:first-of-type
							top: -179px
							&:after
								background-image: url("../img/blue-line1-320.png")
								width: 150px
								left: 19px
								bottom: -63px
						&:last-of-type
							&:after
								background-image: url("../img/blue-line2-320.png")
								width: 185px
								right: 0
								top: -49px
					img
						width: 168px
						height: 168px
						top: 81px
		#sect-5
			padding-top: 16px
			h2
				font-size: 42px!important
				line-height: 42px!important
			.slider-first
				padding-top: 35px
				padding-bottom: 78px
				.navigation
					position: static
					top: auto
					bottom: auto
					right: auto
					text-align: center
					left: auto
					button
						border-color: #ccc
				.easlide
					.col-lg-6
						.vshadow
							display: none
						iframe
							width: 307px
							height: 166px
							margin-left: auto
							margin-right: auto
						p
							position: static
							width: 307px
							top: auto
							right: auto
							text-align: left
							margin-left: auto
							margin-right: auto
							margin-top: 25px
						.img-box
							width: 307px
							margin-left: auto
							margin-right: auto
							margin-top: 13px
							a
								display: block
								width: 218px
								margin-left: auto
								margin-right: auto
							&.shadow:after
								width: 211px
		#sect-6
			.col-md-6
				.white-box
					width: 310px
					padding-top: 11px
				h3
					font-size: 35px
					line-height: 35px
					margin-top: 8px
					margin-bottom: 22px
				&:last-of-type
					h3
						font-size: 42px
						line-height: 42px
						margin-top: 5px
				&:first-of-type
					margin-bottom: 20px
					img
						margin-bottom: 10px
		#sect-7
			padding-top: 0
			.col-md-6
				p
					margin-top: 15px
				.promo
					width: 100%
					padding: 13px
					img
						width: 100%
				&:last-child
					form
						h3
							margin-top: 23px
							margin-bottom: 4px
						width: 310px
						.jq-selectbox.land.br, ul li.land.br
							margin-top: 15px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1260px)
	.section
		overflow: hidden
		&.active, &.fp-completely
			overflow: visible


