@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1919px)
	#fp-nav.right
		right: 50px
	.mouse
		bottom: 40px
	.social
		bottom: 15px

	#fullpage
		.registration
			bottom: 26px
		.section
			padding-top: 110px
			h2
				white-space: nowrap
				width: auto
				z-index: 100
		#sect-1
			background: #FFF
			h4
				margin-top: 120px
			.col-lg-6
				.path
					top: 715px
				.ace
					top: 845px
					left: 1100px
				.king
					top: 923px
					left: 1230px
				.queen
					top: 1010px
					right: -1285px
			p
				line-height: 25px
			a
				margin-top: 30px
		#sect-2
			background: url("../img/Rectangle 8.svg") no-repeat 0 285px
			h2
				margin-bottom: 45px
			.col-md-4
				.item
					margin: 0
					padding: 20px 10px 0
					height: 400px
					.img-box
						margin-top: 0
						height: 64px
					p
						font-size: 16px
		#sect-3
			background-image: url("../img/3bg1280.png")
			background-position: center 310px
			h2
				margin-bottom: 0
			.popup
				border: none
				h4
					margin-bottom: 14px
				p
					font-size: 16px
				&.win, &.indi, &.power, &.manager
					position: relative
					left: auto
					right: auto
					top: auto
					bottom: auto
					width: 400px
					height: 241px
				&.indi, &.manager
					float: right
				&.win, &.indi
					border-radius: 5px 5px 0 0
					&:after, &:before
						content: none
				&.power, &.manager
					&:after
						top: -25px
						bottom: auto 
					&:before
						top: -20px
						bottom: auto
				&.indi
					border-radius: 5px 5px 0 0
				&.power
					border-radius: 0 0 5px 5px
				&.manager
					border-radius: 0 0 5px 5px
		#sect-4
			h2
				height: auto
				margin-bottom: 80px
			.col-md-6
				&:last-of-type
					img
						top: 47px
						left: 140px
						width: 150px
						height: 150px
					p
						&:first-of-type
							left: 10px
							top: 0
							&:after
								background-image: url("../img/line-blue-1-1280.svg")
								left: -4px
								bottom: -70px
						&:last-child
							right: 10px
							top: 240px
							&:after
								background-image: url("../img/line-blue-2-1280.svg")
								height: 81px
								right: -31px
								top: -82px
		#sect-5
			.slider-first 
				.easlide 
					.col-lg-6 
						.vshadow, iframe
							width: 490px
							height: 264px
						.img-box
							width: 72%
							margin-left: 37px
						p
							padding-left: 37px
							padding-top: 29px
				.dots
					bottom: 105px
					left: 243px
					ul
						margin-left: -50%
				.navigation
					top: auto
					right: auto
					bottom: 37px
					left: 107px
		#sect-6
			padding-top: 110px
			.col-sm-6
				h3
					font-size: 42px
					line-height: 42px
					margin-top: 49px
					margin-bottom: 44px
				.white-box
					margin-left: 19px
					margin-right: 19px
					padding-top: 22px
					margin-bottom: 19px
					p
						padding-left: 25px
						padding-right: 25px
				&:first-of-type
					img
						margin-top: 0
						margin-bottom: 32px
				&:last-of-type
					h3
						margin-bottom: 24px
		#sect-7
			.col-sm-6
				height: 600px
				h3
					margin-top: 40px
					font-size: 42px
					line-height: 42px
				p
					margin-bottom: 20px
				&:last-of-type
					form
						padding: 0 62px
						h3
							margin-top: 40px
						.land-label
							font-size: 16px
						.jq-selectbox__select-text
							font-size: 18px
						.input--nariko
							label
								font-size: 18px
							&.input--filled
								label
									font-size: 16px
							input
								font-size: 18px
								margin-bottom: 30px
								padding-top: 20px
							&[type=checkbox]+label
								float: left
/* Medium Devices, Desktops */
@media only screen and (max-width : 1279px)
	.mouse
		display: none
	.social
		position: absolute
		bottom: 30px
	#fullpage
		.section
			padding-top: 100px
		#sect-1
			padding-top: 150px
			.col-lg-6
				padding-left: 30px
			h2
				line-height: 60px
			h4
				margin-top: 10px
			h5
				margin-bottom: 16px
			p
				width: 62%
			a
				margin-top: 20px
		#sect-2
			background-color: #F5F9FE
			padding-top: 50px
			padding-bottom: 60px
			margin-top: 104px
			h2
				font-size: 60px
				font-weight: bold
				margin-bottom: 15px
			.col-md-4
				&:first-of-type
					padding-left: 0
				&:nth-of-type(2)
					padding-right: 0
				&:last-of-type
					padding-right: 0
					padding-left: 0
					.item
						padding-bottom: 3px
						.img-box
							height: 70px
				h4
					font-size: 18px
					margin-bottom: 17px
				.item
					height: 370px
					background-color: #FFF
					padding: 15px 20px 0
					.img-box
						height: 90px
						img
							display: block
							margin-left: auto
							margin-right: auto
			.col-sm-12
				padding-top: 20px
				h4
					margin-top: 18px
				.item
					height: auto
					padding-bottom: 20px
					p
						span
							padding-top: 30px
							display: inline-block
		#sect-3
			background: none
			padding-top: 77px
			h2
				margin-bottom: 37px
				font-size: 60px
				font-weight: bold
			.popup
				&.indi, &.manager, &.power, &.win
					position: relative
					width: auto
					height: auto
					left: auto
					right: auto
					top: auto
					bottom: auto
					box-shadow: none
					background-color: #FFF
					padding-bottom: 19px
					&:after
						content: ""
						z-index: -1
						position: absolute
						width: 100%
						height: 100%
						top: 0
						left: 0
						background-color: rgba(#2F80ED, 0.15)
						filter: blur(10px)
					&:before
						content: none
				&.manager
					padding-bottom: 43px
		#sect-4
			padding-top: 59px
			h2
				white-space: normal
				font-size: 60px
				span
					white-space: nowrap

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

